<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Email Template</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #008080;
        }

         p {
            color: #000;
             font-weight: bolder;
            padding: 10px 0;
        }

        a {
            text-align: center;
            color: #4CAF50;
        }
    </style>
</head>
<body>
        <h1>Course Feedback!</h1>
        <p>HELLO,</p>
        <p>We hope you're doing well.</p>
        <p>Thank you for participating in one the best courses on our platform 😉</p>
        <p>Your opinion interests us, which is why we offer you this form to collect your feedback: <a>Feedback form</a></p>
        <p>Thank you in advance for your feedback.</p>
        <p>Sincerely,</p>
        <p>E-Course</p>
</body>
</html>
