<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Email Template</title>
</head>
<body>
<p>Dear <span th:text="${externTrainerName}"></span>,</p>
<p>
We are delighted to inform you that your application to join our esteemed team of trainers at eTrain Platform has been accepted! Congratulations on becoming an integral part of our community dedicated to knowledge-sharing and skill development.
</p>
<p>
Your commitment to excellence and passion for education align perfectly with our values, and we are confident that your expertise will greatly benefit our learners. As an external trainer, you play a crucial role in shaping the learning experiences of our participants.
</p>
<p>
Feel free to explore the platform, engage with our community, and start making a positive impact. Should you have any questions or require assistance, our support team is ready to help.
</p>
<p>
Once again, welcome to eTrain Platform! We look forward to a successful and fulfilling collaboration.
</p>

<br>
<p>
    Best regards,
</p>
<p>    eTrain Platform Team
</p>
</body>
</html>
